.about {
  font-family: "Oswald", sans-serif;
  padding-top: 28px;
  min-width: 320px;

  @media(min-width: $tablet-width) {
    min-width: 708px;
  }

  @media(min-width: $desktop-width) {
    min-width: 1220px;
  }
}

.about__title {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 40px;

  @media(min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.about__list {
  padding: 0;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 25px;
  list-style: none;

  @media(min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 616px;
  }


}

.about__list__item {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  margin-left: 80px;
  position: relative;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $cat-green;
    position: absolute;
    left: -80px;

    @media(min-width: $tablet-width) {
      left: 0;
      top: 31px;

    }
  }

  @media(min-width: $tablet-width) {
    display: flex;
    width: 250px;
    height: 130px;
    margin: 0;
    padding-top: 151px;
  }
}

.about__list__desc {
  padding: 0;
  margin: 0;
}
