.address--index {
  background-color: $white-text;
}

.address__invite {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}

.address__address {
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: $dark-grey;
  padding-left: 19px;
  padding-bottom: 25px;
}
