.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  row-gap: 25px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 0;

  @media (min-width: $desktop-width) {
    max-width: 570px;
    position: absolute;
  }
}

.address--index {
  background-color: $white-text;
}

.address__invite {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  padding-left: 13.5%;
}

.address__location {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: $dark-grey;
  padding-right: 13.5%;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.address__map {
  min-height: 362px;
  grid-column: 1 / -1;
  background-image: url("../../img/address/map-small.png");

  @media(min-width: $tablet-width) {
    min-height: 400px;
    display: grid;
    background-image: url("../../img/address/map-mid-size.png");
  }

  @media (min-width: $desktop-width) {
    max-height: 100%;
    background-image: url("../../img/address/map-wide.png");
  }
}
