.catalog-card {
  width: 206px;
  padding: 20px 20px;
  margin-bottom: 20px;
  background-color: $footer-grey;


}

.catalog-card__title {
  font: normal 24px Oswald, sans-serif;
  line-height: 37px;
  margin: 0;
  margin-bottom: 21px;
}
