.catalog {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 19px;
  font-family: "Oswald", sans-serif;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    padding-left: 30px;
    padding-right: 30px;
  }


}

.catalog__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", sans-serif;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;


  }
}

.catalog__item {
  padding-top: 18px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 140px 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-width: 252px;
    min-height: 467px;
    padding-top: 5px;
    padding-right: 36px;
    padding-bottom: 40px;
    padding-left: 36px;
    margin-bottom: 60px;
  }

  &--more {
    display: flex;
    flex-direction: column;
    padding-top: 77px;
    position: relative;
    text-align: center;

    @media (min-width: $tablet-width) {
      min-height: auto;
      max-height: 228px;
      padding-top: 161px;
    }

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-color: $special-grey;
      position: absolute;
      top: 25px;
      left: 45%;

      @media (min-width: $tablet-width) {
        top: 52px;
        }
    }
  }
}

.contain-table__item--second {
  text-align: end;
}

.catalog__item__image {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.catalog__item__title {
  max-width: 76px;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    align-self: center;
    text-align: center;
  }
}

.catalog__item__text {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin-bottom: 23px;
    max-width: 140px;

  }

  &--bottom {
    margin-bottom: 21px;
    text-transform: none;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    }
  }
}

.catalog__item__table {
  margin-bottom: 22px;
  grid-column: 2/3;
}

.catalog__button {
  padding: 10px 109px;
  background-color: $cat-green;
  grid-column: 1/3;
  text-transform: uppercase;
  color: $white-text;
  border: none;
  font-family: "Oswald", sans-serif;

  &--show-all {
    background-color: $footer-grey;
    color: $dark-grey;
    font-weight: 400;
  }
}
