.example {
  margin: 0;
  padding: 27px 20px;
  background-color: $bg-grey;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: 206px 165px auto;
    column-gap: 134px;
  }
}

.example__title {
  font-size: 36px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    font-size: 60px;
    margin-bottom: 146px;
  }

}

.exampe__desc {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font: 14px "Arial", sans-serif;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    grid-column-start: 1;
    grid-column-end: 2;
  }

}

.example-calc {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-bottom: 42px;
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-rows: 75px 1fr;
  column-gap: 30px;
  row-gap: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 124px 124px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 162px;
    row-gap: 55px;
  }
}

.example-calc__text {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  align-self: center;
  margin: 0;
  padding: 13px 40px;
  border: 1px solid $special-grey;

  @media(min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }

  &--days {
    padding: 13px 20px;
  }

  &--small {
    text-transform: lowercase;
    position: absolute;
    left: 24px;
    bottom: 38px;

    @media (min-width: $tablet-width) {
      bottom: 18px;
    }

    @media (min-width: $desktop-width) {
      bottom: 78px;
      left: 45px;
    }

    &--right {
      left: 168px;

      @media (min-width: $desktop-width) {
        left: 220px;
      }
    }
  }
}

.example-calc__result {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: end;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

.example-change {

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.example-change__picture {
  margin-bottom: 23px;

  @media (min-width: $desktop-width) {
    min-height: 536px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.example-change__desc {
  margin: 0;
  padding: 0;
  font: 16px "Oswald", sans-serif;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.example-change__bar {
  min-width: 228px;
  display: flex;
  justify-content: space-around;
  align-self: center;

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
