.food-program {
  display: block;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
    justify-content: center;
  }
}

.food-program-card {
  width: 87.5%;
  padding: 6.25%;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  background-color: $footer-grey;

  @media (min-width: $desktop-width) {
    width: 39%;
    min-height: 274px;
    padding: 4.2%;
  }
}

.food-program-card__title {
  font: normal 24px "Oswald", sans-serif;
  line-height: 37px;
  margin: 0;
  margin-bottom: 21px;
}

.food-program-card__description {
  font: 14px "Arial", sans-serif;
  line-height: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid $borderline-grey;
}

.food-program-card__catalog-link {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  padding-top: 15px;
}

.food-program-card__catalog-link::before {
  content: "";
  order: 2;
  align-self: center;
  width: 18px;
  height: 2px;
  margin-top: 1px;
  margin-left: 15px;
  background: $black;
}

.food-program-card__catalog-link::after {
  content: "";
  order: 3;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid $black;
  margin-top: 3.5px;
}

.food-program-card__catalog-name:hover .food-program-card__catalog-link::before {
  width: 26px;
}

.food-program-card__catalog-name:active,
.food-program-card__catalog-name:active .food-program-card__catalog-link::before,
.food-program-card__catalog-name:active .food-program-card__catalog-link::after {
  opacity: 0.3;
}
