.main-nav__list {
  font-family: "Oswald Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  line-height: 24px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 440px;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
    position: relative;
    z-index: 0;
  }
}

.main-nav__item {
  padding: 20px 0;
  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__item a {
  @media (min-width: $tablet-width) {
    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.main-nav--index a {
  @media (min-width: $desktop-width) {
    color: $white-text;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.main-nav .main-nav__item--active a {
  border-bottom: 2px solid $cat-green;
}

.main-nav--index .main-nav__item--active a {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white-text;
  }
}
