.order {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.order-form__title {
  text-transform: none;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.order-form__desc {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

form fieldset {
  padding: 0;
  margin-bottom: 25px;
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.order-form label {
  flex-grow: 1;
  color: $dark-grey;
  display: flex;
  column-gap: 2%;
}

.order-form__cat-data {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.order-form__cat-info {
  @media (min-width: $desktop-width) {
    min-width: 539px;
    margin-right: 66px;
  }
}

.order-form__item-label {
  flex-shrink: 0;
  color: $dark-grey2;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.order-form__cat-reason {
  border-top: 1px solid $borderline-grey;
  border-bottom: 1px solid $borderline-grey;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 88px;

  input[type="radio"] {
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $borderline-grey;
    max-width: 90%;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}


.order-form__item-label--radio {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $special-grey;
    left: -50px;
    top: -1px;
    position: absolute;

    @media (min-width: $tablet-width) {
      transform: scale(1.25);
    }
  }

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    display: none;
    border-radius: 50%;
    background-color: $cat-green;
    left: -40px;
    top: 8px;
    position: absolute;

    @media (min-width: $tablet-width) {
      transform: scale(1.25);
    }
  }
}


input[type="radio"]:checked + .order-form__item-label::after {
  display: block;
}

input[type="radio"]:disabled + .order-form__item-label,
input[type="radio"]:disabled + .order-form__item-label::after {
  opacity: 0.3;
}

.order-form__owner-info {
  display: flex;
  margin-bottom: 50px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    column-gap: 80px;
  }
}

.order-form__owner-info-label {
  min-width: 219px;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-form input {
  border: 1px solid $borderline-grey;
}

.order-form input[type="text"],
.order-form input[type="number"] {
  padding: 14px;
  flex-grow: 1;

  &:hover {
    padding: 13px;
    border: 2px solid $dark-grey;
  }

  &:focus {
    border-color: $special-grey;
  }
}

.order-form__comment {
  flex-direction: row;
}

.order-form__comment input[type="textarea"] {
  min-height: 174px;
  flex-grow: 1;
  min-width: 280px;
  padding-top: 10px;
}

.order-form input::placeholder {
  color: $dark-grey;
  text-transform: uppercase;
}

.order-form__legend {
  font-size: 24px;
  line-height: 26px;
  position: relative;
  padding-bottom: 55px;
  text-transform: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    height: 2px;
    background-color: $cat-green;
  }

  &::before {
    left: 248px;
    width: 89px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: -42px;
      width: 30px;
    }

    &::after {
      left: 577px;
      width: 145px;
    }
  }


  @media (min-width: $desktop-width) {
    &::before {
      left: -110px;
      width: 70px;
    }

    &::after {
      width: 800px;
      left: 556px;
    }
  }


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.order-form__supplement {
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 25px;
  margin-bottom: 36px;

  input[type="checkbox"] {
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    row-gap: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
    flex-wrap: nowrap;
    column-gap: 150px;
  }
}

.order-form__checkbox-label {
  width: 40%;
  padding-left: 45px;
  position: relative;
}

.order-form__checkbox-label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid $special-grey;
  position: absolute;
  left: -3px;
  top: -2px;

  @media (min-width: $tablet-width) {
    transform: scale(1.15);
    top: -5px;
  }
}

.order-form__checkbox-label::after {
  content: "";
  width: 26px;
  height: 26px;
  left: 3px;
  top: 4px;
  display: none;
  position: absolute;
  background: url("../../img/cat-fat.png") no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    top: 4px;
    left: 2px;
  }
}

input[type="checkbox"]:checked + .order-form__checkbox-label::after {
  display: block;
}


input[type="checkbox"]:disabled + .order-form__checkbox-label,
input[type="checkbox"]:disabled + .order-form__checkbox-label::after {
  opacity: 0.3;
}


.order-form__small-text {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  text-transform: none;
  align-self: center;
}


.order-form__owner-info-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  right: 20px;
}

.order-form__owner-info-label--email::before {
  background: url("../img/icon-email.svg") no-repeat;
}

.order-form__owner-info-label--phone::before {
  background: url("../img/icon-phone.svg") no-repeat;
  top: 14px;
  right: 16px;
}

.order-form__submit {
  display: flex;
  flex-direction: column;
  row-gap: 28px;


  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 25px;
  }
}

.order-form__submit-button {
  font-family: "Oswald", sans-serif;
  padding: 7px 50px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 10px 58px;
    margin-right: 61px;
  }

  @media (min-width: $desktop-width) {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    padding: 12px 190px;
    margin-right: 81px;
  }
}


.order-form__comment legend::after {
  width: 158px;
  left: 180px;

  @media (min-width: $tablet-width) {
    width: 478px;
    left: 242px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.order-form__supplement legend::after {
  width: 136px;
  left: 200px;

  @media (min-width: $tablet-width) {
    width: 446px;
    left: 274px;
  }

  @media (min-width: $desktop-width) {
    width: 1108px;
    left: 250px;
  }
}
