.page-header {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.page-header__title {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
}

.page-header__button {
@media (min-width: $tablet-width), (min-width: $desktop-width) {
  display: none;
}
}
