.page-footer {
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Oswald", sans-serif;
  background: $footer-grey;
}

.page-footer__logo {
  width: 128px;
  height: 24px;
}

.page-footer__socials,
.page-footer__copyright {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 90%;
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  border-top: 1px solid $borderline-grey;
}

.page-footer__copyright {
  justify-self: start;
}
