.page-footer {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
  background: $footer-grey;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-bottom: 32px;
  width: 128px;
  height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__socials,
.page-footer__copyright {
  margin: 0;
  padding: 0;
  min-width: 280px;
  font-family: "Arial", sans-serif;
  color: $dark-grey;
  border-top: 1px solid $borderline-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__socials {
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  height: 63px;

  @media (min-width: $tablet-width) {
    min-width: 129px;
  }
}

.page-footer__copyright {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    min-width: 163px;
  }

  &--academy {
    padding: 0;
    margin: 0;
  }
}

.page-footer__socials {
  display: inline-block;
  width: 25px;
  height: 22px;
  background: url("../img/social_icons.png") no-repeat;
  color: black;
  align-self: center;
}

.footer__socials--vk {
  background-position: 0%;
}

.footer__socials--in {
  background-position: 50%;
}

.footer__socials--fb {
  background-position: 100%;
}
