.picture-board {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  color: $white-text;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  background-image: url("../img/group-9.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    color: $black;
  }
}

.picture-board__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.picture-board__desc {
  padding: 0;
  margin: 0;
  margin-bottom: 300px;
  text-transform: uppercase;
}

.picture-board__button {
  padding: 11px 45px;
  margin-bottom: 15px;
  background-color: $cat-green;
  text-transform: uppercase;
  color: $white-text;
}
