.social {
  font-family: "Oswald", sans-serif;
  display: inline-block;
  width: 25px;
  height: 22px;
  background: url('../../img/social_icons.png');
}

.footer__socials_vk {
  background-position: 0%;
}

.footer__socials_in {
  background-position: 50%;
}

.footer__socials_fb {
  background-position: 100%;
}
