.supplement {
  font-family: "Oswald", sans-serif;
  padding-top: 25px;
  padding-bottom: 18px;
}

.supplement__heading {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
}

.supplement-list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.supplement-list__item {
  padding-top: 13px;

  &-name {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
  }
}

.supplemental-list__table {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.supplement-list__item-price {
  margin: 0;
  padding: 0;
}

.supplement__order-button {
  padding: 10px 109px;
  background-color: $cat-green;
  text-transform: uppercase;
  color: $white-text;
  border: none;
  font-family: "Oswald", sans-serif;
}

.supplement-gift-offer {
  margin: 0;
  width: 161px;
  height: 76px;
  padding-top: 180px;
  padding-bottom: 43px;
  padding-right: 58px;
  padding-left: 61px;
  background-image: url("../img/gift-mobile.jpg");
  background-repeat: no-repeat;
  background-color: $cat-green;
  position: relative;

  &::before {
    content: "";
    width: 78px;
    height: 78px;
    background-image: url("../img/icon-gift.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 58px;
    right: 101px;
  }
}

.supplement-gift-offer__text {
  padding: 0;
  margin: 0;
  color: white;
  line-height: 20px;
  font-size: 16px;
}
