@font-face {
  font-family: "Oswald";
  src: local("../../fonts"),
    url("oswaldregular.woff2") format("woff2"),
    url("oswaldregular.woff") format("woff"),
    url("oswaldmedium.woff2") format("woff2"),
    url("oswaldmedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Oswald";
  src: local("../../fonts"),
    url("oswaldmedium.woff2") format("woff2"),
    url("oswaldmedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

