$cat-green: #68b738;
$dark-grey: #444444;
$dark-grey2: #222222;
$border-grey: #e7e7e7;
$footer-grey: #f2f2f2;
$special-grey2: #666666;
$special-grey: #cdcdcd;
$bg-grey: #eaeaea;
$borderline-grey: #d9d9d9;
$error-red: #ff8282;
$white-text: #ffffff;
$black: #000000;

$tablet-width: 768px;
$desktop-width: 1440px;
