$cat-green: #68B738;
$dark-grey: #444444;
$border-grey: #E7E7E7;
$footer-grey: #F2F2F2;
$special-grey2: #666666;
$special-grey: #CDCDCD;
$bg-grey: #EAEAEA;
$borderline-grey: #D9D9D9;
$black: #000000;
$error-red: #FF8282;